*{box-sizing:border-box;margin:0;padding:0;font-size:14px;font-family:PingFangSC-Regular,Verdana,Arial,微软雅黑,宋体,sans-serif;line-height:1.486;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
li,ol,ul{list-style:none;}
table{border-collapse:collapse;}
img,input{border:0;}
input{padding:0 10px;}
textarea{padding:10px;}
body,html{height:100%;background-color:#313131;color:#fff;}
a{display:inline-block;color:#5CACEE;text-decoration:none;transition:color .5s;}
a:hover{color:#ff502c;}

/*Ethan*/
i{font-style:normal;}
pre{overflow:auto;margin-bottom:50px;border-radius:8px;background:#282c34;white-space:pre;word-wrap:normal;word-break:break-word;}
code{display:block;white-space:pre-wrap;line-height:1.6;}
code *{line-height:1.6;}
code i{font-size:16px;}
h1{text-align:center;font-size:40px;color:#ff502c;line-height:100px;}
th{font-weight:400;font-size:16px}
td,th{padding:10px;border:1px solid #5CACEE}
td:nth-child(1),th:nth-child(1){color:#FD971F;text-align:center}
.clearfix:after,.container:after,.ctn:after,.ctn-big:after{clear:both;display:table;content:"";}
.ctn{margin:0 auto;width:1200px;}
/*Ethan end*/

/*note*/
.note{margin:0 auto;width:1200px;padding:20px 0;}
.note>li{font-size:16px;line-height:32px;}
.note>li:nth-child(1){margin-bottom:10px;color:#ff502c;font-size:20px;}
.list-style-dot>li:before{display:inline-block;margin-right:8px;padding:2px;width:20px;height:20px;border:2px solid;border-radius:50%;background-color:currentColor;background-clip:content-box;color:#ff502c;content:'';vertical-align:-4px;}
.list-style-dot>li:nth-child(1):before{display:none;}
.note>li *{font-size:16px;}

/* title */
.big-title{margin-top:50px;color:#ff502c;}
.small-title{margin-top:30px;color:#ff502c;font-size:18px!important;}

/* line */
.line-blue{display:block;margin-top:15px;height:1px;background:#5CACEE;}

/*btn*/
.btn{padding:8px 12px;border:none;color:#fff;border-radius:6px;cursor:pointer;}
.btn:focus{border:none;outline:none;};
.btn-blue{background:#5CACEE;}
.btn-orange{background:#ff502c;}

/*arrow*/
.arrow-top,.arrow-bottom,.arrow-left,.arrow-right{width:27px;height:44px;background:url(../img/icon/arrow-left.png);}
.arrow-top{transform:rotate(90deg);}
.arrow-bottom{transform:rotate(-90deg);}
.arrow-right{transform:rotate(180deg);}
/*arrow*/
.arrow-1-top,.arrow-1-bottom,.arrow-1-left,.arrow-1-right{width:50px;height:50px;background:url(../img/icon/arrow-1.png);background-size:100%;}
.arrow-1-top{transform:rotate(-45deg);}
.arrow-1-bottom{transform:rotate(135deg);}
.arrow-1-left{transform:rotate(45deg);}
.arrow-1-right{transform:rotate(-135deg);}

/*close*/
.close{width:36px;height:36px;border:2px solid;border-radius:50%;color:#ccc;text-align:center;line-height:32px}
.close-blue{background-color:#5CACEE;}
.close-orange{background-color:#ff502c;}

/*position*/
.relative{position:relative;}
.absolute{position:absolute;}
.fixed-right-bottom{position:fixed;right:0;bottom:0;z-index:99;}

/*display*/
.flex{display:flex;}
.none{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.table-cell{display:table-cell;}

/*flex*/
.flex-space-between{display:flex;justify-content:space-between;}
.flex-end-space-between{display:flex;align-items:flex-end;justify-content:space-between;}

/*float*/
.float-left{float:left;}
.float-right{float:right;}

/*margin*/
.margin-bottom-20{margin-bottom:20px!important;}
.margin-hor--15{margin:0 -15px;}

/*padding*/
.padding-ver-15{padding:15px 0;}
.padding-left-25{padding-left:25px;}
.padding-left-30{padding-left:30px;}

/*color*/
.red{color:#be3948;}
.red-1{color:#F92472;}
.blue{color:#5CACEE;}
.pink{color:#E46C49;}
.green{color:#A6E229;}
.orange{color:#ff502c;}
.orange *{color:#ff502c!important;}
.yellow{color:#E7DB74;}
.yellow *{color:#E7DB74!important;}
.yellow-1{color:#FD971F!important;}
.gray{color:#666666;}
.gray *{color:#666666;}
.white{color:#fff;}
.pre-title{color:#ff502c;font-size:16px;}
.pre-title *{color:#ff502c!important;font-size:16px;font-weight:normal!important;}

/*background*/
.bg-red{background:#be3948;}
.bg-blue{background:#5CACEE;}
.bg-pink{background:#E46C49;}
.bg-white{background:#fff;}
.bg-orange{background:#ff502c;}

/*text-align*/
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

/*other*/
.middle{vertical-align:middle;}
.flex-center{display:flex;height:100%;justify-content:center;align-items:center;flex-wrap:wrap;}

/*icon*/
.icon-warn{display:inline-block;width:12px;height:12px;background:url(data:image/gif;base64,R0lGODlhDAAMAMQQAL45SP36+/jr7MlbaMA+TOOqsOOrsc5pdM1oc96bovrx8speauq+w/HV2MxkcMFCUf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABAALAAAAAAMAAwAAAVDIAQFxkEQhxGIkLAAcLwI4xArSjyQMSAIPQOi12j0EIQeg9E79RKJ3sPRqwIchZ6oVwjYYFvYrvXtDWiiQOEAQ3RFIQA7) no-repeat center;}


